@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Big Bang Theory Trivia</h1>
    <p>Are you a fan of "The Big Bang Theory"? </p><p>Test your knowledge with the ultimate trivia app dedicated to the beloved TV show! Whether you're a casual viewer or a die-hard fan, our app offers a fun and challenging way to engage with your favorite characters, episodes, and iconic moments.</p>
</div>
